.day_m {
    margin: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border: 1px solid grey;
    
  }
  .dni_tyg {
    margin: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
  }
  .szary {
    border: 1px solid silver !important;
    color: silver;
  }
  span.eventy {
    color: silver !important;
    font-size: 0.85em;
  }
  .this_week {
    background-color: #ECECEC;
  }
  .niedziela {
    color: red !important;
  }
  .dzisiaj {
    border: 2px solid #444444 !important;
  }
  .data_dnia {
    float:left;
    width:50%;
  }
  .plusik {
    float:left;
    width:45%;
    text-align:right;
  }
  .plusik a {
    text-decoration:none;
    color:silver;
  }
  .eventy {
    float:left;
    width:100%;
  }
  div.wiecej {
    margin: 10px 0px 25px 0px;
  }
  span.wiecej {
    margin: 0px 20px 0px 0px;
  }
  #kalendarz_miesiac {
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    }
    